/*
 * Globals
 */


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

html {
  overscroll-behavior: none;
}

body {
  /*background: #ffffff url(../img/fieldhouse.png) no-repeat center center fixed;*/

  background-color: rgba(221, 197, 252, 0.22);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  z-index: 100;
  margin-top: -4em !important;
}

.cover-container {
  max-width: 42em;
  background-color: white;
}

h2 {
  margin-top: 1.5em;
  color: rgb(134, 100, 180);
}

#portrait-photo {
  margin: 0 0 1.5em 1.5em;
  border: 5px solid rgb(134, 100, 180, 0.8);
  float: right;
}

#map {
  /*float: right;*/
  height: 300px;
  border: 5px solid rgb(134, 100, 180, 0.8);
}

address {
  margin-left: 1.5em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

a {
  text-decoration: none;
}

a[href^='mailto']::before {
    content: '✉️️ ';
}

a[href^='tel']::before {
    content: '📞 ';
}

#logos {
  margin-top: 2.5em
}

#logos > a > img {
  margin: 1.0em;
}

#copyright {
  margin-top: 2em;
  font-size: small;
}

